/*===========
  Table of Contents
    1. global styling
    2. color palette
    animations
    components
      2.1 buttons
    3. typography
    4. layout and general styles
      4.1. Navigation bar
      4.2. Hero
      4.3. Contact Form
      4.4. Services
      4.5  About
      4.6 Projects
      4.7 Footer
    8. media queries
  ===========*/
/*==========
  global styling
  ==========*/
body {
  align-items: center;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
  color: #DFCAD5;
  cursor: pointer;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 5px 20px;
}

h1, h2 {
  font-family: Abril Fatface, sans-serif;
  letter-spacing: 1px;
}

h5 {
  margin: 0;
}

input {
  background-color: white;
  margin: 5px 0;
}

label {
  color: #DFCAD5;
}

:root {
  --nav-load-time: 400ms;
  --nav-link-load-time: 500ms;
  --title-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
}

/*==========
  color palette
  ==========*/
/* #DFCAD5;,  #22233D;, #5f64ab;,  #CE1379; #7d83e6 */
/*==========/
  animations
  ==========*/
.navbar-container,
.header {
  animation: nav-load var(--nav-load-time) ease-in;
}

.navbar-button,
.site-logo-main,
.site-logo-contact,
.nav-drop {
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.portfolio-image-1,
.portfolio-image-2,
.portfolio-image-3 {
  animation: carousel-click 500ms ease-in;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes carousel-click {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.portfolio-text {
  animation: carousel-click-text 500ms ease-in;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes carousel-click-text {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

.hero-heading,
.title-heading-bottom-border {
  animation: title-load 300ms ease-in var(--title-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes title-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hero-subheading {
  animation: title-load 300ms ease-in calc(var(--title-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.portfolio-hero-button {
  animation: nav-link-load 300ms ease-in calc(var(--title-load-delay) + 300ms);
  animation-fill-mode: forwards;
  transform: scale(0);
}

/*==========
  components (buttons)
  ==========*/
.request-button {
  background-color: #DFCAD5;
  color: #22233D;
}

.request-button:hover {
  background-color: #5f64ab;
  color: white;
}

.navbar-button {
  background-color: #CE1379;
  color: white;
  padding: 5px 20px;
  opacity: .7;
}

.portfolio-hero-button {
  background-color: #CE1379;
  color: white;
  margin-bottom: 100px;
  padding: 5px 30px;
  opacity: .7;
}

.navbar-button:hover,
.portfolio-hero-button:hover {
  opacity: 1;
  background-color: #DFCAD5;
  color: #CE1379;
}

.cta-btn:hover {
  opacity: 1;
}

.github-btn:hover {
  transform: rotate(5deg);
  background-color: #fff;
  color: #22233D;
  border: 1px solid #5f64ab;
}

div .back-to-top {
  color: #DFCAD5;
  padding: 5px 10px 5px;
}

.back-to-top {
  color: black;
  font-size: 1.5rem;
  text-align: right;
}

/*==========
  typography
  ==========*/
.hero-heading,
.about-heading,
.cta-heading {
  color: white;
  font-size: 3rem;
}

.contact-heading,
.offer-heading,
.hero-heading,
.hero-subheading {
  font-weight: 300;
}

.site-logo,
.labels,
.email-input,
.name-input,
.request-button,
.portfolio-hero-button {
  font-size: 1rem;
}

.labels,
.name-input,
.email-input {
  font-family: Oswald, sans-serif;
}

.fa-github {
  color: #22233D;
  font-size: 1rem;
  padding: 0 5px 0 10px;
}

/*==========
  navigation bar
  ==========*/
.header {
  background-color: rgb(34, 35, 61);
  background-color: rgba(0, 0, 0, .2);
}

.navbar-container {
  align-items: center;
  background-color: #22233D;
  /*fallback color*/
  background-color: rgba(34, 35, 61, .5);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.nav-item {
  color: #CE1379;
  padding-right: 10px;
  text-decoration: none;
  letter-spacing: 0;
}

.nav-item:hover {
  color: white;
}

.nav-item-container {
  margin-left: 100px;
  padding-bottom: 15px;
  z-index: 2;
}

.nav-button-container {
  margin-right: 100px;
}

.hamburger-button {
  visibility: hidden;
}

.site-logo-main,
.site-logo-contact {
  height: 40px;
}

.site-logo-main:hover,
.site-logo-contact:hover {
  cursor: pointer;
}

.site-logo {
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid #DFCAD5;
  color: #DFCAD5;
  letter-spacing: 1px;
  margin: 0 100px;
  padding: 0 5px;
}

/*==========
  hero
  ==========*/
.hero-section {
  background-color: rgb(161, 7, 91);
  background-color: rgba(161, 7, 91, .2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px 50px;
}

.hero-image {
  background-size: cover;
  opacity: 1;
  background-image: url('images/desktop.jpg');
  height: 200%;
  width: 100%;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animatedBackground 1s ease-in;
}

.hero-image-secondary {
  background-color: grey;
  box-shadow: 5px 10px #DFCAD5;
  font-size: 1.5rem;
  height: 100%;
  margin-right: 100px;
  text-align: right;
}

.welcome-tag {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5f64ab;
  margin: 60px 0 20px;
  ;
}

.hero-heading {
  margin: 5px 0 10px;
}

.hero-subheading {
  color: #5f64ab;
  font-size: 1.5rem;
  padding-bottom: 10px;
  line-height: 30px;
}

.title-heading-bottom-border {
  border-top: 2px solid #DFCAD5;
  width: 200px;
}

/*==========
  Contact Form
  ==========*/
.contact-form-section {
  background-color: #22233D;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px;
  margin-bottom: 50px;
}

.contact-heading, .offer-heading {
  color: white;
}

.contact-heading {
  padding-right: 20px;
}

.form-submit-greeting {
  color: #DFcad5;
  text-align: center;
  font-family: Oswald;
  font-size: 2rem;
  font-weight: lighter;
  display: none;
  opacity: 7;
  text-decoration: underline;
}

.email-input, .name-input {
  border: none;
  border-bottom: 2px solid #DFcad5;
  background-color: #22233D;
  display: block;
  width: 200px;
}

.input-container {
  padding-right: 10px;
}

.request-button-container {
  padding-top: 20px;
}

/*==========
  Services
  ==========*/
.all-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 100px auto;
}

.cards-text-div {
  width: 300px;
}

.card {
  text-align: center;
}

.cards-text {
  font-size: 14px;
  font-weight: 200;
}

.service-titles {
  font-weight: 500;
}

.service-image {
  color: #5f64ab;
  font-size: 5rem;
  margin: 10px auto;
}

.service-image:hover {
  transform: rotate(5deg);
}

.offer-heading {
  color: black;
  padding-top: 20px;
  text-align: center;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 10px 50px;
  /*around card div*/
  padding: 20px;
  /*padding inside div around elements*/
}

/*==========
  About Section
  ==========*/
#About {
  align-items: center;
  background-color: #DFCAD5;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px;
  padding: 20px 25% 50px;
}

.about-heading {
  display: block;
  margin-right: 100px;
}

.bio-text {
  padding-right: 25%;
  width: 75%;
}

.profile-img {
  display: inline-block;
  border-radius: 100%;
}

.profile {
  opacity: 1;
  height: 350px;
  width: 300px;
}

/* the actual profile image */
.icons-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#icons {
  display: flex;
  align-items: center;
  margin: 0;
}

.cert-icon {
  cursor: pointer;
  border-bottom: 2px solid rgb(161, 7, 91);
  padding-bottom: 2px;
}

#icons i {
  font-size: 2rem;
  padding-right: 15px;
}

/*==========
  projects
  ==========*/
#Projects {
  background-color: #22233D;
  padding: 50px 100px;
  margin: 5px 0;
}

#Projects a {
  color: #CE1379;
}

#Projects img {
  border-radius: 10px;
}

.portfolio-website-names {
  font-size: 1.5rem;
}

.portfolio-h5 {
  font-size: 1rem;
}

.portfolio-heading {
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

.portfolio-thumbnails-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-text {
  color: #DFCAD5;
  padding-left: 50px;
}

.portfolio-h5 {
  padding-top: 10px;
}

.github-button-container {
  text-align: left;
  padding-top: 20px;
}

.github-btn {
  background-color: #22233D;
  border: 1px solid white;
  color: white;
}

.fa-github {
  color: #5f64ab;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 2px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.portfolio-image-1 {
  cursor: pointer;
}

.portfolio-image-2,
.portfolio-image-3 {
  display: none;
  cursor: pointer;
}

.active, .dot:hover {
  background-color: #717171;
}

.text-btn-2,
.text-btn-3 {
  display: none;
}

/*==========
  CTA
  ==========*/
#CTA {
  align-items: center;
  background-color: #DFCAD5;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  margin-bottom: 5px;
}

.cta-heading {
  color: #CE1379;
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-color: white;
}

.cta-heading::after {
  content: 'Let start with a chat, and you can tell me about your project.';
  color: #22233D;
  background-color: white;
  display: block;
  font-size: 2rem;
  margin-top: 20px;
  padding: 5px 10px;
}

.cta-image {
  height: 400px;
  width: 450px;
  border-radius: 10px;
}

.cta-btn {
  background-color: #22233D;
  color: white;
  font-size: 1rem;
}

.cta-btn:hover {
  background-color: white;
  color: #22233D;
}

#CTA img {
  margin: 50px 0 50px 50px;
}

/*==========
  Footer
  ==========*/
.footer {
  background-color: #22233D;
  padding: 20px 0;
  text-align: center;
}

.footer-logo {
  color: white;
  display: inline-block;
  margin: 0;
}

.footer-text {
  color: #DFCAD5;
  padding-top: 50px;
}

.footer-icons {
  color: white;
  font-size: 2rem;
}

.footer-icons i {
  padding: 20px;
  color: white;
}

/* .footer-icons i:hover {
  color: #CE1379;
} */
.copyright {
  color: #DFCAD5;
  letter-spacing: 1px;
  font-weight: 200;
  padding-top: 50px;
}

/*==========
Contact Page
==========*/
#Contact-Page {
  background-color: #DFCAD5;
}
.contact-page-landing-container {
  align-items: flex-start;
  border-bottom: 10px solid white;
  display: flex;
  justify-content: space-around;
  padding: 50px 100px;
}
.contact-page-heading {
  font-size: 3rem;
  margin-top: 0;
}
.contact-page-landing-container input {
  border: none;
  height: 30px;
  margin-bottom: 10px;
}
.contact-inputs {
  width: 100%;
}
.contact-cta {
  padding-left: 50px;
}
.contact-cta p {
  width: 50%;
}
.contact-page-landing-container label {
color: #22233D;
font-size: 1rem;
}
.contact-heading-border-1,
.contact-heading-border-2 {
  border-bottom: 5px solid #22233D;
}
.contact-heading-border-1 {
  display: none;
}
.contact-page-submit-1,
.contact-page-submit-2 {
  background-color: #22233D;
  color: white;
  font-size: 1rem;
  padding: 10px 40px;
}
.contact-page-submit-2 {
  display: none;
}
.contact-navbar {
  background-color: #22233D;
}





/*==========
  media queries
  ==========*/
/* nav bar queries */
@media only screen and (max-width: 1000px) {
  .hamburger-button {
    font-size: 1.5rem;
    color: #DFCAD5;
    cursor: pointer;
    visibility: visible;
  }

  .nav-drop {
    position: relative;
    display: inline-block;
  }

  .drop-content {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
  }

  .drop-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }

  .drop-content a:hover {
    background-color: black;
  }

  .nav-drop:hover .drop-content {
    display: block;
  }
}

@media only screen and (max-width: 660px) {
  .navbar-button {
    display: none;
  }
}

/* contact form queries (index.html) */
@media only screen and (max-width: 860px) {
  .contact-form-section {
    display: block;
    padding-top: 20px;
    position: relative;
  }

  .input-container {
    padding: 10px 0;
  }

  .request-button-container {
    position: absolute;
    right: 100px;
    top: 50%;
    padding-top: 0;
  }

  .request-button {
    box-shadow: 3px 3px #CE1379;
    padding: 10px 20px;
  }

  .request-button:hover {
    box-shadow: 3px 3px white;
  }
}

@media only screen and (max-width: 600px) {
  .request-button-container {
    position: static;
    right: 100px;
    top: 50%;
    padding-top: 20px;
  }
}

/* card queries */
@media only screen and (max-width: 1120px) {
  .all-cards-container {
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 20px;
    text-align: center;
  }

  .cards-text {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 950px) {
  .all-cards-container {
    justify-content: center;
  }
}

/*About Queries*/
@media only screen and (max-width: 850px) {
  #About {
    flex-direction: column;
    justify-content: center;
  }

  .about-top-div {
    margin: 0 50px;
  }

  .profile-img {
    padding-top: 50px;
  }
}

/* Project Queries */
@media only screen and (max-width: 980px) {
  .portfolio-thumbnails-row {
    flex-wrap: wrap;
  }

  .portfolio-text {
    padding-left: 0;
  }
}

/* CTA queries */
@media only screen and (max-width: 880px) {
  #CTA {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  #CTA {
    flex-wrap: wrap;
  }

  #CTA img {
    height: 100%;
    width: 100%;
    margin-left: 0;
  }
}
/* Contact Page queries */
@media only screen and (max-width: 880px) {
  .contact-page-landing-container {
  flex-direction: column-reverse;
  align-items: flex-start;
}
.contact-cta {
  padding-left: 0;
}
.contact-page-submit-1 {
  display: none;
}
.contact-page-submit-2 {
  display: block;
}
.contact-heading-border-1 {
  display: inline-block;
}
.top-label-contact-page {
  padding-top: 10px;
}
}
@media only screen and (max-width: 800px) {
  .contact-cta p {
    width: 100%;
  }
}
