body {
  margin: 0;
}
/* Navbar */
.header {
  background-color: rgb(161, 7, 91);
  background-color: rgba(161, 7, 91, .5);
}
.navbar-container {
  align-items: center;
  background-color: #22233D; /*fallback color*/
  background-color: rgba(34, 35, 61, .5);
  display: flex;
  justify-content: space-between;
}
.nav-item {
  color: #CE1379;
  font-family: Oswald, sans-serif;
  letter-spacing: 1px;
  padding: 0 10px;
  text-decoration: none;
}
.nav-item-container {
  margin-left: 100px;
}
.nav-button-container {
  margin-right: 100px;
}
.drop-bars-button {
  visibility: hidden;
}
.site-logo {
  border-bottom: 2px solid #DFCAD5;
  color: #CE1379;
  font-family: Abril Fatface, sans-serif;
  margin: 20px 100px;
  padding: 5px;
}
.navbar-button, .get-started-button, .submit-button {
  background-color: #DFCAD5;
  border: none;
  border-radius: 5px;
  color: #22233D;
  cursor: pointer;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  padding: 5px 20px;
}

/*Hero*/
.hero-section {
  align-items: center;
  background-color: rgb(161, 7, 91);
  background-color: rgba(161, 7, 91, .2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px 50px;
}
.hero-image {
background-size: cover;
opacity: 1;
}
.hero-image-secondary {
  background-color: grey;
  box-shadow: 5px 10px #DFCAD5;
  font-size: 1.5rem;
  height: 100%;
  margin-right: 100px;
  text-align: right;
}
.hero-heading {
  color: white;
  display: inline-block;
  font-family: Abril Fatface, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 20px;
}
.hero-subheading {
  color: #DFCAD5;
  font-family: Oswald, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 20px;
  line-height: 30px;
}
.get-started-button {
  background-color: #CE1379;
  color: white;
  font-size: 1rem;
  margin-bottom: 100px;
  padding: 5px 30px;
}
.border {
  border-top: 2px solid #DFCAD5;
  width: 200px;
}

/*Get In Touch Form*/
.contact-form-section {
  align-items: center;
  background-color: #22233D;
  display: flex;
  flex-wrap: wrap;
  /* height: 150px; */
  justify-content: space-between;
  padding: 50px 100px;
}
.contact-heading, .offer-heading {
  color: white;
  font-family: Abril Fatface, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.contact-heading {
  padding-right: 20px;
}
.labels {
  color: #DFCAD5;
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}
.email-input, .name-input {
  border: none;
  border-bottom: 2px solid;
  background-color: #22233D;
  color: #DFCAD5;
  display: block;
  font-family: Oswald, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  width: 200px;
}
.input-container{
  padding-right: 10px;
}
.submit-button-container {
  padding-top: 20px;
}

/* Services */
.all-cards-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: auto 100px auto;
}
.cards-text-div {
  width: 300px;
}
.cards-text {
  font-family: Oswald, sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
}
.service-titles {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.service-image {
  height: 200px;
  width: 300px;
  margin: 0;
}
.offer-heading {
  color: black;
  padding-top: 20px;
  text-align: center;
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 10px 50px; /*around card div*/
  padding: 20px; /*padding inside div around elements*/
}

/* Media Queries */
@media only screen and (max-width: 1000px) {

  .drop-bars-button {
    font-size: 1.5rem;
    color: #DFCAD5;
    cursor: pointer;
    visibility: visible;
  }
  .nav-drop {
    position: relative;
    display: inline-block;
  }
  .drop-content {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
  }
  .drop-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }
  .drop-content a:hover {
    background-color: black;
  }
  .nav-drop:hover .drop-content {
    display: block;
  }
}
@media only screen and (max-width: 660px) {
  .navbar-button {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
.all-cards-container {
  flex-wrap: wrap;
}
.card {
  margin-bottom: 20px;
  text-align: center;
}
.cards-text {
  padding: 0 10px;
}
}

@media only screen and (max-width: 860px) {
  .contact-form-section {
  display: block;
  padding-top: 20px;
  position: relative;
}
.input-container {
  padding: 10px 0;
}
.submit-button-container {
  position: absolute;
  right: 100px;
  top: 50%;
  padding-top: 0;
}
.submit-button {
  box-shadow: 5px 5px #CE1379;
  font-size: 1rem;
  padding: 10px 20px;
}
}

@media only screen and (max-width: 600px) {
  .submit-button-container {
    position: static;
    right: 100px;
    top: 50%;
    padding-top: 20px;
  }
}
